swagger: "2.0"
host: receipts.tech
basePath: /api
info:
  version: 1.0.0
  title: receipts-lotteries
tags:
  - name: tickets
    description: Operation about lottery tickets
  - name: trades
    description: Operation about lottery trades
schemes:
  - https
security:
  - oauth2token:
    - public
paths:
  "/lotteries/{id}/trades":
    get:
      tags:
        - trades
      summary: Get lottery trades
      description: Get lottery trades
      operationId: getLotteryTradesCollection
      produces:
        - application/vnd.receipts.v1+json
        - application/vnd.receipts.v1+xml
      security:
        - oauth2token:
          - lotteries:tickets:get
      parameters:
        - name: id
          in: path
          description: Lottery id
          required: true
          type: string
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/LotteryTradesCollectionResponse"
  "/lotteries/{id}/tickets":
    get:
      tags:
        - tickets
      summary: Find lottery tickets
      description: Get lottery tickets collection
      operationId: getLotteryTicketsCollection
      produces:
        - application/vnd.receipts.v1+json
        - application/vnd.receipts.v1+xml
      security:
        - oauth2token:
          - lotteries:tickets:get
      parameters:
        - name: id
          in: path
          description: Lottery id
          required: true
          type: string
        - name: limit
          description: limit
          required: false
          type: integer
          in: query
          default: 100
        - name: offset
          description: offset
          required: false
          type: integer
          in: query
        - name: sort
          description: sort
          required: false
          type: string
          in: query
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/LotteryTicketsCollectionResponse"
    post:
      tags:
        - tickets
      summary: Create lottery ticket
      description: Create lotteries ticket
      operationId: createLotteryTicket
      consumes:
        - application/vnd.receipts.v1+json
      produces:
        - application/vnd.receipts.v1+json
      security:
        - oauth2token:
          - lotteries:tickets:create
      parameters:
        - name: id
          in: path
          description: Lottery id
          required: true
          type: string
        - in: body
          name: ticketRequest
          description: Ticket request
          required: true
          schema:
            $ref: "#/definitions/TicketRequest"
      responses:
        "201":
          description: successful operation
          schema:
            $ref: "#/definitions/TicketResponse"
        "400":
          description: Bad request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "406":
          description: The request you made is not acceptable
        "422":
          description: Invalid parameter value
 
securityDefinitions:
  oauth2token:
    type: oauth2
    flow: implicit
    authorizationUrl: https://vehicle-history.io/oauth/authorization
    scopes:
      public: public API scope
      lotteries:tickets:get: permission to get lottery tickets
      lotteries:tickets:create: permission to create lottery ticket

definitions:
  AmountResponse:
    properties:
      currency:
        type: string
        description: amount currency
      value:
        type: string
        description: amount value
    required:
      - currency
      - value
  AgreementsRequest:
    properties:
      termsOfService:
        type: boolean
        description: terms of service agreement
      personalDataProcessing:
        type: boolean
        description: personal data processing
      useMyEffigy:
        type: boolean
        description: use my effigy
    required:
      - termsOfService
      - personalDataProcessing
      - useMyEffigy
  TicketResponse:
    properties:
      id:
        type: string
        description: Ticekt id
      code:
        type: string
        description: ticket code number
      purchaseOrderNumber:
        type: string
        description: ticket purchase order number
      amount:
        $ref: "#/definitions/AmountResponse"
        description: ticket amount
      date:
        type: string
        description: ticket generate date
    required:
      - id
      - purchaseOrderNumber
      - amount
      - date
  TicketRequest:
    properties:
      pointOfSale:
        type: string
        description: ticket point of sale
      purchaseOrderNumber:
        type: string
        description: ticket purchase order number
      amount:
        $ref: "#/definitions/AmountResponse"
        description: ticket amount
      date:
        type: string
        description: ticket generate date
      taxRegistrationNumber:
        type: string
        description: ticket tax registration number
      trade:
        type: string
        description: Type of trade
        default: OTHER
        enum:
          - OTHER
          - HAIRDRESSING
      phone:
        type: string
        description: user phone
      agreements:
        $ref: "#/definitions/AgreementsRequest"
        description: user agreements
      email:
        type: string
        description: user email
    required:
      - pointOfSale
      - purchaseOrderNumber
      - amount
      - date
      - taxRegistrationNumber
      - trade
      - phone
      - agreements
      - email
  LotteryTicketsCollectionResponse:
    properties:
      total:
        type: integer
        description: Total lottery tickets collection
      tickets:
        type: array
        items:
          $ref: "#/definitions/TicketResponse"
    description: Lottery tickets collection
    required:
      - total
      - tickets
  TradeResponse:
    properties:
      id:
        type: string
        description: Trade id
      name:
        type: string
        description: Trade name
    description: Lottery trade data
    required:
      - id
      - name
  LotteryTradesCollectionResponse:
    properties:
      total:
        type: integer
        description: Total lottery tickets collection
      trades:
        type: array
        items:
          $ref: "#/definitions/TradeResponse"
    description: Lottery trades collection
    required:
      - total
      - trades
